<div class="wrapper small-wrapper">
  <component-state [state]="state" [getData]="getStats">
    <div class="score-block">
      <mat-icon class="player">account_circle</mat-icon>
      <div class="score">{{ score }}</div>
      <mat-icon class="player">computer</mat-icon>
    </div>



    <div class="test">
      <table mat-table
             [dataSource]="dataService.gamesResults" multiTemplateDataRows
             class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="isWin">
          <th mat-header-cell *matHeaderCellDef> Победитель </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.isWin">Пользователь</ng-container>
            <ng-container *ngIf="!element.isWin">Компьютер</ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Дата </th>
          <td mat-cell *matCellDef="let element"> {{ element.date | moment : 'DD.MM.YYYY HH:mm'}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" [class.p-10]="element == expandedElement">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="suggestion">
                <div class="question">Предложенный вариат:</div>
                <div class="game-type">
                  <mat-icon class="game-type-icon mat-primary"
                            *ngIf="element.gameType === gameTypeEnum.Sound">
                    music_note
                  </mat-icon>
                  <mat-icon class="game-type-icon mat-primary"
                            *ngIf="element.gameType === gameTypeEnum.Humming">
                    record_voice_over
                  </mat-icon>
                  <mat-icon class="game-type-icon mat-primary"
                            *ngIf="element.gameType === gameTypeEnum.Lyrics">
                    textsms
                  </mat-icon>
                </div>
              </div>
              <div class="suggestion-result">
                <div class="lyrics" *ngIf="element.gameType === gameTypeEnum.Lyrics">"{{ element.gameSource }}"</div>
                <div class="audio-player" *ngIf="element.gameType !== gameTypeEnum.Lyrics">
                  <mat-basic-audio-player [audioUrl]="element.gameSource" [title]="''"
                                          [displayTitle]="false" [displayVolumeControls]="true"></mat-basic-audio-player>
                </div>
              </div>
              <br>
              <div class="d-flex">
                <div class="question">Ответ:</div>
                <div class="answer-title">"{{ element.answerTitle }}"</div>
              </div>
              <br>
              <div class="audio-player">
                <mat-basic-audio-player [audioUrl]="element.answerSource" [title]="element.answerTitle"
                                        [displayTitle]="false" [displayVolumeControls]="true"></mat-basic-audio-player>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>
  </component-state>
</div>
