<div class="wrapper big-wrapper">
  <button mat-raised-button class="menu-button mat-primary text-uppercase" (click)="startGame()">
    Играть
  </button>
  <button mat-raised-button class="menu-button mat-primary text-uppercase" (click)="checkStats()">
    Статистика
  </button>
</div>
