<div class="wrapper" [class.small-wrapper]="gameType" [class.big-wrapper]="!gameType">
  <component-state [state]="state">
    <div class="game-types" [class.game-type-choosed]="gameType">
      <mat-icon class="game-type-icon mat-primary"
                [class.active]="gameType === gameTypeEnum.Sound"
                (click)="changeGameType(gameTypeEnum.Sound)">
        music_note
      </mat-icon>
      <mat-icon class="game-type-icon mat-primary"
                [class.active]="gameType === gameTypeEnum.Humming"
                (click)="changeGameType(gameTypeEnum.Humming)">
        record_voice_over
      </mat-icon>
      <mat-icon class="game-type-icon mat-primary"
                [class.active]="gameType === gameTypeEnum.Lyrics"
                (click)="changeGameType(gameTypeEnum.Lyrics)">
        textsms
      </mat-icon>
    </div>

    <app-record-audio-game *ngIf="gameType === gameTypeEnum.Humming || gameType === gameTypeEnum.Sound"></app-record-audio-game>
    <app-lyrics-game [formLink]="formLink" *ngIf="gameType === gameTypeEnum.Lyrics"></app-lyrics-game>

    <button mat-raised-button class="game-button mat-primary text-uppercase"
            [@fadeInOut]
            (click)="find()"
            *ngIf="gameType === gameTypeEnum.Lyrics && formLink.root.valid && formLink.root.dirty">
      Найти
    </button>
  </component-state>
</div>
