@import './../assets/styles/palette'

.body
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.main-card
  width: 400px
  min-height: 700px
  background-color: #fff
  border: 2px solid $primary-color
  border-radius: 10px
