/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #E8E8E8 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button[mat-raised-button] { color: #fff !important; }

.text-uppercase { text-transform: uppercase }

.ml-20 { margin-left: 20px }
.mr-20 { margin-right: 20px }
.mt-20 { margin-top: 20px }
.mb-20 { margin-bottom: 20px }

.d-flex { display: flex !important; }
.d-none { display: none !important; }
.d-block { display: block !important; }

.wrapper {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .7s;
}

.big-wrapper {
  margin-top: 70px;
}

.small-wrapper {
  margin-top: 20px;
}

.mat-form-field-label-wrapper span {
  color: #64b5f6;
}

.mat-form-field-underline {
  background-color: #64b5f6 !important;
}

.mat-hint {
  color: #64b5f6 !important;
}

*, ::after, ::before {
  box-sizing: content-box !important;
}

.ngx-basic-audio-player {
  background-color: #64b5f6
}
.ngx-basic-audio-player-button-handler {
  color: #FFFFFF;
}

.mat-slider-thumb {
  border-color: #FFFFFF !important;
  background-color: #64b5f6 !important;
}

.mat-slider-ticks-container {
  background-color: #FFFFFF;
}

.ngx-basic-audio-player-duration {
  color: #FFFFFF;
}

.ngx-basic-audio-player-duration + button {
  color: #FFFFFF;
}

